Source: samplebrain
Section: sound
Priority: optional
Maintainer: Dave Griffiths <dave@thentrythis.org>
Build-Depends: debhelper-compat (= 11), texinfo, libsndfile1-dev, portaudio19-dev, liblo-dev, libfftw3-dev, qtchooser, qtbase5-dev, qt5-qmake, qtbase5-dev-tools
Standards-Version: 4.4.1 
Homepage: http://thentrythis.org/projects/samplebrain
Vcs-Git: https://gitlab.com/nebogeo/samplebrain.git

Package: samplebrain
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description:Custom sample smashing app designed by Aphex Twin    
    Samplebrain chops samples up into a 'brain' of interconnected small sections (blocks) connected into a network by similarity. It reads a target sample, chops it up into blocks in the same way, and tries to match each one with one of the blocks in it's brain to play in realtime..
