[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Samplebrain
Comment=A sample masher designed by Aphex Twin
Exec=samplebrain
Icon=samplebrain
Terminal=false
Categories=GNOME;Application;
StartupNotify=true